h1 {
  color: #03254E;
  text-align: center;
}

h2 {
  color: #545677;
}

.card-white {
  padding: 10px 10px;
  width: 700px;
  background-color: #FECEE9;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #545677;
}

a {
  text-decoration: none;
}

a:hover {
  color: #545677;
}

#card-list {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h2, p, a {
  font-family: 'Roboto', sans-serif;
}

.img-circle {
  border-radius: 50%;
}

@media (max-width: 960px) {
  .card-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .card-white {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .card-white {
    width: 300px;
  }
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
